<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Suite1_Smoke"> 
    <classes>
      <class name="Tests.LoginTest"/>
      <class name="Tests.ItemSearchNGTest"/>
       <parameter name="userName" value="Ig4RCiYHAQcCWl1fWisyAw0GD0UPAA4=" />
       <parameter name="Password" value="Ig5AGTRKJSIrKl1dUA==" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
